/* General Sibling Selector */
h3 ~ p {
    color: black;
}

/* Adjacent Sibling */
h1 + p {
    color: green;
}

/* Child Selector */
div > p {
    color: black;
}

/* Psuedo Class for Links */
a:link {
    color: blue;
}

a:visited {
    color: red;
}

/* Psuedo class for User Action & Input */
input[type=number]:placeholder-shown {
    background-color: bizque;
}

input:enabled {
    background-color: white;
}

input:disabled {
    background-color: coral;
}

/* Psuedo class for Not */
* {
    color: black;
}

:not(label) {
    color: brown;
}

/* Melanjutkan Website */
.contact-container {
    display: flex;
    justify-content: flex-start;
}

.ilustration-img {
    margin: 0px;
    width: 300px;
}

.contact {
    display: inline-block;
    margin: 10px 30px;
    text-align: center;
}

.fa-user, .fa-map-maker-alt, .fa-envelope-open, .fa-comment {
    font-size: 27px;
}

.input-item:focus + .form-label {
    top: -5px;
    left: -2px;
    font-size: 10px;
}

.textarea:focus + .form-label {
    top: -5px;
    left: -2px;
    font-size: 10px
}

.input-item:not(:placeholder-shown).input-item:not(:focus) + .form-label {
    top: -2px;
    left: -2px;
    font-size: 10px;
    color: rgb(138, 130, 130);
}

/* Slider */
.section-slider {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}

.image-slider {
    position: relative;
    width: 640px;
    height: 426px;
}

.slide {
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: opactiy 0.5s ease-in-out;
    clip-path: circle(0% at 0 50%)
}

.slide img {
    width: 100%;
    border-radius: 15px;
}

.slide-text h2 {
    font-size: 30px;
    padding: 0;
    margin: 0;
}

.slide-text p {
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.navigation {
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%)
}

.slider-btn {
    background-color: rgb(151, 151, 151);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 5px;
}

.active {
    opacity: 1;
}

.slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: "clip-patch"
}

.slider-btn.active {
    background-color: rgb(38, 70, 83);
}

/* Sanean Night */
@keyframes saneanNightAnimation {
    0% {
        margin-left: 0px;
    }
    50% {
        margin-left: 450px;
    }
    100% {
        margin-left: 0px;
    }
}

.jumbotron-text {
    animation: saneanNightAnimation 3s;  
}

.blob-sanae {
  display: block;       /* Changes the image from inline to block */
  margin-left: auto;    /* Splits the left remaining space evenly */
  margin-right: auto;   /* Splits the right remaining space evenly */    
  margin-top: 80px;    
  width: 300px;
  height: auto;
}



/* Waves */
.wave1 {
    position: absolute;
    top: 2000px;
    z-index: 2;
}

.wave2 {
    position: absolute;
    top: 2000px;
    z-index: 3;
}

/* Responsive */
@media (max-width: 900px) {
    * {
        font-size: 2.5w;
        padding: 0px;
        margin: 0px;
    }

    .wave1 {
        top: 3000px;
    }

    .wave2 {
        top: 3000px;
    }

    .main-content {
        margin: 80px 0;
    }

    .image-slider {
        width: 50%;
        height: 240px;
    }

    .slide-text {
        left: 0;
        bottom: 0;
    }

    .slide-text h2 {
        width: 150px;
        height: auto;
        font-size: 20px;
    }

    .slide-text p {
        font-size: 10px;
    }

    .article-title {
        font-size: 4w;
    }
    .project-container {
        display: block;
    }
    .project-container {
        margin-bottom: 20px;
    }
    .project img {
        max-width: 100%;
        max-height: 200%;
    }

    .video-content {
        max-width: 100%;
        max-height: 220px;
    }

    .page-title h1 {
        font-size: 4w;
    }

    .project-detail {
        display: block;
    }

    .project-detail {
        display: block;
    }

    .project-detail img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
        max-height: 50%
    }

    .project-description h3 {
        font-size: 2vw;
        text-align: center;
    }

    .project-description p {
        font-size: 2vw;
    }

    .rocket-container {
        display: none;  
    }

    .contact-container {
        justify-content: center;
    }

    .illustration-img {
        display: none;
    }

    .modal {
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 60%;
        max-height: 40%;
        padding: 10px;
    }

    .modal h3 {
        margin: 0;
        padding: 0;
        font-size: 4vw;
    }

    .modal img {
        max-width: 60%
    }

    .section-title {
        font-size: 4vw;
    }

    .section-subtitle {
        font-size: 2vw;
    }

    .blob-sanae {
        max-width: 60%;
        max-height: 60%;
        transform: rotate(-180deg)
    }

    .blogger-image {
        position: absolute;
        max-width: 27%;
        max-height: 50%;
        left: 37%;
        top: 100px;
    }

    .about-description p {
        width: 80%
    }

    .skill-item {
        margin: 5px;
    }
}

body {
    background-color: yellow;
}

/* Navbar */
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.navbar .home-button {
    float: left;
}

.navbar li {
  float: right;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #111111;
}

#quizzlet {
    justify-content: center;
    margin-left: 39%
}