/* .main-content {
    margin: 10%;
}

.content {
    margin-left: 10%;
    max-width: 70%;
}

article {
    max-width: 100%;
}

.article-title {
    text-align: center;
    font-size: 30px;
    margin: 50px 0 30px;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

.project-title {
    color: #e76f51;
    font-weight: bold;
} */
/* 
