body {
    background-color: white;
    color: black;
    font-family: sans-serif;
    transition: background 0.3s; /* Makes the transition smooth */
}

body.dark-mode {
    background-color: #222222;
    color: white;
}