/* General Sibling Selector */
h3 ~ p {
    color: black;
}

/* Adjacent Sibling */
h1 + p {
    color: green;
}

/* Child Selector */
div > p {
    color: black;
}

/* Psuedo Class for Links */
a:link {
    color: blue;
}

a:visited {
    color: red;
}

/* Psuedo class for User Action & Input */

input[type=number]:placeholder-shown {
    background-color: bizque;
}

input:enabled {
    background-color: white;
}

input:disabled {
    background-color: coral;
}

/* Psuedo class for Not */
* {
    color: black;
}

:not(label) {
    color: brown;
}